<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%HOME%\Python39\python.exe"
                  arguments="-m gunicorn --bind=0.0.0.0:%HTTP_PLATFORM_PORT% main:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\python.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 